/* .header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff; 
    padding: 1rem 2rem;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }
  
  .navLinks {
    display: flex;
    gap: 1rem;
  }
  
  .navLink {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navLink:hover {
    color: #007bff;
  }
  
  .brandName {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: bold;
    color: #111;
  }
  
  .safariText {
    font-size: 0.9rem;
    color: #555;
  }
  
  .enquirerunningButton {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .enquirerunningButton:hover {
    background-color: #0056b3;
  }
  
  .familyOwned {
    text-align: center;
    font-size: 0.75rem;
    color: #777;
    margin-top: 1rem;
  }
*/

 
.landingSection {
  /* height: 626px;
  position: relative; */
}

.landingImage {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  display: block;
  z-index: -100;
}

.clawMarkImage {
  position: absolute;
  bottom: -200px;
  left: -100px;
  max-width: 30%;
  height: auto;
  z-index: 1;
}

.landingTitle{
  color: #ffffff;
  font-family: "Akronim", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  padding-right: 300px;
  margin: 0;
}

.landingSubTitle{
  color: #3c580a;
  font-weight: 700;
  font-style: normal;
  font-size: 5rem;
  padding-left: 300px;
  margin: 0;
}

.landingSubTitleSec{
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  color: #0a0901;
  font-weight: 500;
}

.landingText {
  color: #fff;
  text-align: center;
  font-size: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1024px) {
  .clawMarkImage {
    width: 30%;
  }

  .landingTitle {
    font-size: 4em;
    padding-right: 150px;
  }

  .landingSubTitle {
    font-size: 1.5em;
    padding-left: 150px;
  }
}

@media screen and (max-width: 768px) {
  .clawMarkImage {
    display: none;
  }

  .landingTitle{
    text-align: left;
    font-size: 2.5em;
    padding: 0;
  }  
  .landingSubTitle {
    text-align: left;
    font-size: 1em;
    padding: 0;
  }
}

/* ////////////// */
.introSection {
  height: 100vh;
  text-align: center;
  padding: 150px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .introSection {
    height: auto;
  }
}

.introSectionIcon {
  width: 175px;
  margin: 0 auto 50px;
}

.introDesc {
  z-index: 10;
  max-width: 800px;
}

.lodgeImage {
  width: 600px;
  opacity: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

@media (max-width: 1024px) {
  .introSection {
    padding: 50px 20px;
  }

  .lodgeImage {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: block;
    opacity: 1;
  }

  .introDesc {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .lodgeImage {
    width: 90%;
    align-self: center;
  }
}

.introHeading {
  color: #3b4e3f;
  margin-bottom: 30px;
  font-size: 4em;
  line-height: 70px;
}

@media (max-width: 640px) {
  .introHeading {
    font-size: 24px;
    line-height: 1.4;
  }
}

.introSubheading {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #9a895b;
  margin-bottom: 10px;
  font-size: 3em;
  line-height: 70px;
}

@media (max-width: 640px) {
  .introSubheading {
    font-size: 24px;
    line-height: 1.4;
  }
}

.introSubheadingSecond {
  color: #be9954;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
}

@media (max-width: 640px) {
  .introSubheadingSecond {
    font-size: 24px;
    line-height: 1.4;
  }
}



/* ///////////// */

.experienceSection,
.experienceTextContainer,
.experienceImage{
  height: 75vh;
}

.experienceTextContainer{
  padding-top: 10em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  background-color: #435447;
}

.subSectionTitle{
  color: #fff;
  /* font-family: "Poetsen One", sans-serif; */
  font-weight: 800;
  font-style: normal;
  font-size: 4em;
  color: #172401;
}

.subSectionDescription{
  font-family: "Poetsen One", sans-serif;
  color: #fff;
  font-weight: 100;
  font-style: normal;
  font-size: 2.6em;
  line-height: 1.8;
  text-align: left;
}

.subSectionDescriptionEmp{
  font-size: 1.2em;
  font-weight: 400;
  color: #be9954;
}

/* runningButton Exp Sec*/

.type-A {
  --back_color: #94c5ba;
}
/* ////////////// */

.memorableSection {
  text-align: center;
  padding: 114px 0;
}

.memorableHeading {
  color: #435447;
  margin-bottom: 54px;
  font-family: Archivo, sans-serif;
  font-size: 36px;
  line-height: 50px;
}

@media (width<=640px) {
  .memorableHeading {
    padding: 0 20px;
    font-size: 24px;
  }
}

.memorableContent {
  align-items: flex-start;
  gap: 50px;
  padding: 0 50px;
  display: flex;
}

@media (width<=991px) {
  .memorableContent {
    flex-direction: column;
    align-items: center;
  }
}

.memorableImage {
  border-radius: 6px;
  width: 50%;
}

@media (width<=991px) {
  .memorableImage {
    width: 100%;
  }
}

.memorableTextContainer {
  background-color: #434654;
  text-align: left;
}

@media (width<=991px) {
  .memorableTextContainer {
    width: 100%;
  }
}

.memorableTitle {
  color: #556358;
  margin-bottom: 30px;
  font-family: Archivo, sans-serif;
  font-size: 35px;
  line-height: 50px;
}

@media (width<=640px) {
  .memorableTitle {
    font-size: 24px;
  }
}

.memorableDescription {
  color: #78766b;
  font-family: Inter, sans-serif;
  font-size: 13px;
  line-height: 22px;
}

@media (width<=640px) {
  .memorableDescription {
    font-size: 14px;
  }
}

/* Running button */

.runningButton {
  position: relative;
  z-index: 0;
  width: 240px;
  height: 56px;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.runningButton:hover{
  color: #172401;
  transition: all 0.3s ease;
}
.runningButton__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* 
.runningButton::before,
.runningButton::after,
.runningButton__text::before,
.runningButton__text::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background: var(--line_color);
  transition: all 0.5s ease;
}


.runningButton::before {
  top: 0;
  left: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.runningButton::after {
  top: 0;
  right: 54px;
  width: 8px;
}
.runningButton__text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.runningButton__text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}
.runningButton__line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}
.runningButton__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 300px;
  border: solid 3px var(--line_color);
}
.runningButton__line:nth-child(1),
.runningButton__line:nth-child(1)::before {
  left: 0;
}
.runningButton__line:nth-child(2),
.runningButton__line:nth-child(2)::before {
  right: 0;
}
.runningButton:hover {
  letter-spacing: 6px;
}
.runningButton:hover::before,
.runningButton:hover .runningButton__text::before {
  width: 8px;
}
.runningButton:hover::after,
.runningButton:hover .runningButton__text::after {
  width: calc(100% - 56px * 2 - 16px);
} */
.runningButton__drow1,
.runningButton__drow2 {
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  transform-origin: 16px 16px;
}
.runningButton__drow1 {
  top: -16px;
  left: 40px;
  width: 32px;
  height: 0;
  transform: rotate(30deg);
}
.runningButton__drow2 {
  top: 44px;
  left: 77px;
  width: 32px;
  height: 0;
  transform: rotate(-127deg);
}
.runningButton__drow1::before,
.runningButton__drow1::after,
.runningButton__drow2::before,
.runningButton__drow2::after {
  content: "";
  position: absolute;
}
.runningButton__drow1::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-60deg);
}
.runningButton__drow1::after {
  top: -10px;
  left: 45px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(69deg);
}
.runningButton__drow2::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-146deg);
}
.runningButton__drow2::after {
  bottom: 26px;
  left: -40px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-262deg);
}
.runningButton__drow1,
.runningButton__drow1::before,
.runningButton__drow1::after,
.runningButton__drow2,
.runningButton__drow2::before,
.runningButton__drow2::after {
  background: var(--back_color);
}
.runningButton:hover .runningButton__drow1 {
  animation: drow1 ease-in 0.06s;
  animation-fill-mode: forwards;
}
.runningButton:hover .runningButton__drow1::before {
  animation: drow2 linear 0.08s 0.06s;
  animation-fill-mode: forwards;
}
.runningButton:hover .runningButton__drow1::after {
  animation: drow3 linear 0.03s 0.14s;
  animation-fill-mode: forwards;
}
.runningButton:hover .runningButton__drow2 {
  animation: drow4 linear 0.06s 0.2s;
  animation-fill-mode: forwards;
}
.runningButton:hover .runningButton__drow2::before {
  animation: drow3 linear 0.03s 0.26s;
  animation-fill-mode: forwards;
}
.runningButton:hover .runningButton__drow2::after {
  animation: drow5 linear 0.06s 0.32s;
  animation-fill-mode: forwards;
}
@keyframes drow1 {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}
@keyframes drow2 {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    width: 120px;
  }
}
@keyframes drow3 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}
@keyframes drow4 {
  0% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@keyframes drow5 {
  0% {
    width: 0;
  }
  100% {
    width: 124px;
  }
}

.container {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.runningButton:not(:last-child) {
  margin-bottom: 64px;
}
