/* .header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff; 
    padding: 1rem 2rem;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }
  
  .navLinks {
    display: flex;
    gap: 1rem;
  }
  
  .navLink {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navLink:hover {
    color: #007bff;
  }
  
  .brandName {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: bold;
    color: #111;
  }
  
  .safariText {
    font-size: 0.9rem;
    color: #555;
  }
  
  .enquireButton {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .enquireButton:hover {
    background-color: #0056b3;
  }
  
  .familyOwned {
    text-align: center;
    font-size: 0.75rem;
    color: #777;
    margin-top: 1rem;
  }
*/

 
.landingSection {
  /* height: 626px;
  position: relative; */
}

.landingImage {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  display: block;
  z-index: -100;
}

.clawMarkImage {
  position: absolute;
  bottom: -200px;
  left: -100px;
  max-width: 30%;
  height: auto;
  z-index: 1;
}

.landingTitle{
  color: #ffffff;
  font-family: "Akronim", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  padding-right: 300px;
  margin: 0;
}

.landingSubTitle{
  color: #3c580a;
  font-weight: 700;
  font-style: normal;
  font-size: 5rem;
  padding-left: 300px;
  margin: 0;
}

.landingSubTitleSec{
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  color: #0a0901;
  font-weight: 500;
}

.landingText {
  color: #fff;
  text-align: center;
  font-size: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1024px) {
  .clawMarkImage {
    width: 30%;
  }

  .landingTitle {
    font-size: 4em;
    padding-right: 150px;
  }

  .landingSubTitle {
    font-size: 1.5em;
    padding-left: 150px;
  }
}

@media screen and (max-width: 768px) {
  .clawMarkImage {
    display: none;
  }

  .landingTitle{
    text-align: left;
    font-size: 2.5em;
    padding: 0;
  }  
  .landingSubTitle {
    text-align: left;
    font-size: 1em;
    padding: 0;
  }
}

/* ////////////// */

.introSection {
  height: 90vh;
  text-align: center;
  padding: 100px 0;
  position: relative;
}

@media (width<=1024px) {
  .introSection {
    padding: 50px 20px;
  }
}

.introDesc{
  z-index: 100;
}
  
.lodgeImage {
  width: 600px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

@media (width<=1024px) {
  .lodgeImage {
    margin-top: 30px;
    position: relative;
  }
}


.introHeading {
  color: #3b4e3f;
  margin-bottom: 30px;
  font-size: 4em;
  line-height: 70px;
}

@media (width<=640px) {
  .introHeading {
    font-size: 24px;
    line-height: 1.4;
  }
}
.hotelName{
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.introSubheading {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #9a895b;
  margin-bottom: 10px;
  font-size: 3em;
  line-height: 70px;
}

@media (width<=640px) {
  .introSubheading {
    font-size: 24px;
    line-height: 1.4;
  }
}

.introSubheadingSecond {
  color: #be9954;
  font-family: Archivo, sans-serif;
  font-size: 4em;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (width<=640px) {
  .introSubheadingSecond {
    font-size: 24px;
    line-height: 1.4;
  }
}
